In [21]:
import pandas as pd
import matplotlib as plt

In [8]:
settle= pd.read_excel('settlement.xlsx')
emp=pd.read_excel('employee.xlsx')

In [5]:
emp

,Active Employee,Employee ID,Title,Office,Department,Hire Date
0,Yes,0051J000004ba0z,Attorney,Chicago,Workers Comp,2018-04-02
1,Yes,0051J000004bboC,Paralegal,Chicago,Workers Comp,2018-04-07
2,Yes,0051J000004bbqS,Attorney,Detroit,Workers Comp,2018-04-08
3,Yes,0051J000004bbqX,Attorney,Detroit,Workers Comp,2018-04-08
4,No,0051J000004bbvw,Paralegal,Chicago,Workers Comp,2018-04-09
...,...,...,...,...,...,...
1109,Yes,005o0000003WdHx,Attorney,Detroit,Personal Injury,2014-10-19
1110,Yes,005o0000003WXn1,Attorney,Dallas,Personal Injury,2015-08-10
1111,Yes,005o0000004FZB7,Attorney,Chicago,ELG,2017-04-25
1112,Yes,005o0000004gHCj,Attorney,Kansas City,Personal Injury,2016-02-07
1113,Yes,005o0000004gKa0,Paralegal,New York,Paralegal,2016-02-23

In [9]:
settle

,Case Number,Signup Date,Resolution Date,Handling Attorney: Employee ID,Handling Attorney Name,Handling Paralegal: Employee ID,Handling Paralegal Name,Settlement Amount,Case Expenses
0,CASE-351093,2020-12-21,2021-08-23,0053c00000BsLPx,Blake Caldwell,0051J000004Xnhs,Alyssa Nicolicchia,5040.00,732
1,CASE-352994,2020-10-19,2021-08-30,0053c00000BsLPx,Blake Caldwell,0051J000004Xnhs,Alyssa Nicolicchia,4128.00,1090
2,CASE-215014,2020-05-21,2021-01-26,0053c00000BsLPx,Blake Caldwell,0051J000004Xnhs,Alyssa Nicolicchia,7200.00,891
3,CASE-258435,2020-04-28,2021-03-29,0053c00000BsLPx,Blake Caldwell,0051J000004Xnhs,Alyssa Nicolicchia,4800.00,1227
4,CASE-262572,2020-05-05,2021-04-19,0053c00000BsLPx,Blake Caldwell,0051J000004Xnhs,Alyssa Nicolicchia,5760.00,1098
...,...,...,...,...,...,...,...,...,...
46911,CASE-347338,2020-06-28,2021-07-30,0051J000004XnRL,Derrick Molandes,0051J000006bUmb,Stephanie Mason,3333.33,1236
46912,CASE-348190,2020-07-12,2021-06-23,0051J000004XnRL,Derrick Molandes,0051J000006bUmb,Stephanie Mason,3333.33,1003
46913,CASE-353309,2020-12-11,2021-08-30,0051J000004XnRL,Derrick Molandes,005o0000002YYYn,Fernanda McDonald,3333.33,1256
46914,CASE-353611,2020-11-27,2021-07-23,0051J000004XnRL,Derrick Molandes,005o0000002YYYn,Fernanda McDonald,5000.00,1320
46915,CASE-354520,2020-09-13,2021-08-31,0051J000004XnRL,Derrick Molandes,005o0000002YYYn,Fernanda McDonald,5000.00,1708